@font-face {
    font-family:Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face {
    font-family:Anton;
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family:livvic;
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend-Regular.ttf);
}

@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-Regular.ttf);
}
@font-face {
    font-family: chaerazad;
    src: url(../fonts/Scheherazade-Bold.ttf);
}